# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

pocketbase/*.md
pocketbase/pocketbase

# PocketBase data files - CONTIENNENT DES SECRETS !
Backend/pocketbase/pb_data/
Backend/pocketbase/pb_data/storage/
Backend/pocketbase/pb_data/logs/
Backend/pocketbase/pb_data/**/*.attrs
Backend/pocketbase/pb_data/**/*.db
Backend/pocketbase/pb_data/**/*.db-shm
Backend/pocketbase/pb_data/**/*.db-wal
